body{
    font-family: "Sofia";
    background-color: #e6ffe6;
    border-style: double;
    border-radius: 100px;
    padding: 20px;
}
#title{
    text-align: center;
    background-color:aquamarine;
    border-radius: 10px;
    padding: 20px 20px 20px 20px
}
#application-form{
    width: 1000px;
    background-color: lightpink;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin-left: 150px;
    display: inline-block;
}
.form-rows{
    position: static;
    display: block;
}
.lables{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: middle;
    font-weight: bold;
}
.fields{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#lab_gen, #question{
    vertical-align:top
}
#gender{
    padding-left: 0%;
    list-style:none;
    margin-top: 0px;
    margin-bottom: 0px;
}
#data{
    padding-left: 0%;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 100%;
}
.user-selection{
    float: left;
    margin-right: 5px;
}
#dropdown2, #dropdown, #location, #checklist, #contact-person{
    display: inline-block;
}
#subject{
    display: inline-block;
    width: 60%;
}
#bank_img{
    text-align: right;
}
#check{
    vertical-align:top;
    list-style:none;
    margin-top: 15px;
    margin-bottom: 0px;
    display: inline-block;
}
#describe{
    height: 75px;
    resize: vertical;
    font-family:'Courier New', Courier, monospace;
    width: 400px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}
.button{
    display: inline-block;
    text-align: center;
    background-color:coral;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    margin-left: 427.25px;
}